.draggable-carousel {
    overflow: hidden;
    position: relative;
    width: 100%; /* Adjust the width as needed */
    margin: auto;
    cursor: grab;
  }
  
  .carousel-content {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1); /* Adjust duration and cubic-bezier as needed */
  }
  
  .carousel-item {
    flex: 0 0 calc(100% / 2.5);
    box-sizing: border-box;
    /* padding: 20px; */
    /* gap: 20px; */
    cursor: grab;
    margin-top: 55px;
    /* position: absolute;  */
  }
  
  .carousel-item:active {
    cursor: grabbing;
  }