@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Kanit', sans-serif; */
.container {
  /* margin-top: 320px;
  margin-bottom: 80px; */
  margin: 320px auto;
}
.token_heading_parent {
  text-align: center;
}
.token_heading_parent h5 {
  color: #fff;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 107.143% */
}
.token_heading_parent h5 span {
  color: #fecc00;
  font-family: "Kanit", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.token_heading_parent img {
  padding-left: 7%;
}
.token_heading_parent p {
  margin-top: 24px;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 169.432%; /* 33.886px */
}
.token_product {
  margin: 60px auto 0;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
.token_button_parent {
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.token_button_parent button {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--White, #fff);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
}
.token_button_parent p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}


@media (min-width: 1366px) {
  .token_product{
    width: 80%;
  }
}