@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Kanit', sans-serif; */

@keyframes cubeAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.container {
  position: relative;
}
.container h3 {
  color: #fff;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 107.143% */
}
.container h3 span {
  color: #fecc00;
  font-family: "Kanit", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.line {
  /* position: absolute;
    top: 50%;
    left: 50.5%; */
  display: block;
  margin: auto;
  padding-left: 13%;
}
.container p {
  margin-top: 24px;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 169.432%; /* 33.886px */
}
.products {
  display: flex;
  margin: 60px auto;
  width: 65%;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.products_second {
  display: flex;
  margin: 60px auto;
  width: 65%;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.product_cube {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 366px;
  animation: cubeAnimation 3s infinite;
}

@media (min-width: 1366px) {
  .products {
    width: 80%;
  }
}

@media (max-width: 440px) {
  .container h3 {
    font-size: 45px;
  }
  .container h3 span {
    font-size: 45px;
  }
  .container p {
    margin-top: 16px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .products_second {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .product_cube {
    width: 166px;
  }
}
